@media only screen and (max-width: 992px){
    .box-main{
        margin: 0 auto;
    }
    .best-seller-text{
        margin: 0 auto;
    }
}

@media only screen and (max-width: 768px){
    .product{
        flex: 0 0 calc(52%)
    }
}






@media only screen and (max-width: 1200px){
    .jadid-div{
        height: 80rem;
    }
    #cmInput {
        width: 40rem;
    }
  
}

@media only screen and (max-width: 992px){
   
    .jadid-div{
        height: 80rem;
    }
    #cmInput {
        width: 60rem;
        height: 30vh;
    }
}

@media only screen and (max-width: 768px){
    .jadid-div{
        height: 91rem;
        
    }
    .webloge-img{
        height: 10rem;
          width: 15rem !important;
       }
      
       .jadid-div-2{
        height: 64rem !important;
       }

       #cmInput {
        width: 60rem;
        height: 30vh;
    }

}

@media only screen and (max-width: 576px){
    .jadid-div{
       
        margin-top: 4rem !important;
        height: 91rem;
    }
    .mataleb-div{
        height: 54rem;
    }

    .mataleb-div-2{
        height: 48rem !important;
    }
    .jadid-div-2{
        height: 41rem !important;
       }
    #cmInput {
        width: 46rem;
    }

}


@media only screen and (max-width: 600px){
      .product-box{
        gap:2rem;
        margin-right: 8rem !important;
     }
     .main-color img{
        display: none;
     }
}


/* (ilia webloge page) */

@media only screen and (max-width: 1200px){
    .all-jadid-div-2{
        height: 99rem !important;
    }
}

@media only screen and (max-width: 992px){
   
    .all-jadid-div-2{
        width: 38rem !important;
    }
}

@media only screen and (max-width: 768px){
    .all-jadid-div-2{
        margin-right: 17rem;
    }

}

@media only screen and (max-width: 576px){
    .all-jadid-div-2{

    }
    

}








@media only screen and (max-width: 1200px){
   
}

@media only screen and (max-width: 992px){
   
    .section-questions-box{

        margin-right: 22rem;
    }
}

@media only screen and (max-width: 768px){
   
    .section-questions-box{

        margin-right: 15rem;

}
}

@media only screen and (max-width: 576px){
   
    
    .section-questions-box{
        margin-right: 0rem;

        

}
}






