@media only screen and (max-width: 992px){
    .box-main{
        margin: 0 auto;
    }
    .best-seller-text{
        margin: 0 auto;
    }
}

@media only screen and (max-width: 768px){
    .product{
        flex: 0 0 calc(52%)
    }
}







@media only screen and (max-width: 1024px){
    .jadid-div{
        height: 80rem;
    }
    #cmInput {
        width: 40rem;
    }
  
}

@media only screen and (max-width: 992px){
   
    .jadid-div{
        height: 80rem;
    }
    #cmInput {
        width: 60rem;
        height: 30vh;
    }
}

@media only screen and (max-width: 768px){
    .jadid-div{
        height: 84rem;
        
    }
    .webloge-img{
        height: 10rem;
          width: 15rem !important;
       }
       #cmInput {
        width: 60rem;
        height: 30vh;
    }
}

@media only screen and (max-width: 500px){
    .jadid-div{
       
        margin-top: 4rem !important;
    }
    .mataleb-div{
        height: 50rem;
    }
    #cmInput {
        width: 46rem;
    }
}


@media only screen and (max-width: 600px){
      .product-box{
        gap:2rem;
        margin-right: 8rem !important;
     }
     .main-color img{
        display: none;
     }
}

